<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <div class="product-cover">
      <%- include('./partials/nav') %>

      <div class="body-cont">
        <!-- checkout-success.ejs -->

        <div class="checkout-order">
          <div class="del-address-warp">
            <div class="address-block">
              <h2>Your Order Details</h2>

              <div class="delivery-info">
                <% if (order || existingOrder) { %>

                  <h4 class="delivery-title">Delivery Information</h4>
                  <% if ( user && user.shippingAddress ) { %>
                    <p><%= user.shippingAddress.address %></p>
                    <p><%= user.shippingAddress.area %> <%= user.shippingAddress.city %> <%= user.shippingAddress.zip %><p>
                      <%= user.shippingAddress.name %>  <%= user.shippingAddress.phone %>
                    </p>
                    <% } else { %>
                      <p>No delivery information, please your enter your delievery information below!!</p>
                      <% } %> 
                  <% } %>

                <div class="del-accordion">
                  <div class="accordion-controls">
                    <div class="accordion-header" id="shippingAccordion">
                      Add your delivery information
                    </div>
                    <span class="accordion-icon">+</span>
                  </div>
                  
                  <div class="accordion-content">
                    <%- include('./checkoutPartials/shippinginfo') %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="payment-wrap">
            <h2>Payment methods</h2>

            <p>Choose your payment method</p>

            <!-- Payment options with radio buttons -->
            <div class="payment-option">
              <input
                type="radio"
                id="creditCard"
                name="paymentMethod"
                value="creditCard"
              />
              <label for="creditCard">Credit Card</label>
            </div>

            <div class="payment-option">
              <input
                type="radio"
                id="paypal"
                name="paymentMethod"
                value="paypal"
              />
              <label for="paypal">PayPal</label>
            </div>

            <div class="payment-option">
              <input type="radio" id="Owoz" name="paymentMethod" value="Owoz" />
              <label for="paypal">Owoz</label>
            </div>

            <div class="payment-option">
              <input
                type="radio"
                id="payfast"
                name="paymentMethod"
                value="payFast"
              />
              <label for="paypal">Payfast</label>
            </div>
          </div>

          <div class="order-summary">
            <h2 class="summary-title">Order Summary</h2>
            <div class="summary-props">
              <% if (order.cart.length !== 1) { %>
              <p class="items">(<%= order.cart.length %> items)</p>

              <% } else { %>
              <p class="items">(<%= order.cart.length %>item)</p>
              %> <% } %>
            </div>
            <div class="total-summary">
              <p>Amount to Pay</p>
              <h2 class="totalAmount"><%= order.totalCheckoutAmount %></h2>
            </div>

            <form
              class="payfast-form"
              action="https://www.payfast.co.za/eng/process"
              method="post"
            >
              <input type="hidden" name="merchant_id" value="23636216" />
              <input type="hidden" name="merchant_key" value="nl6h038ze0xf7" />
              <input
                type="hidden"
                name="amount"
                value="<%= order.totalCheckoutAmount %>"
              />
              <input
                type="hidden"
                name="return_url"
                value="https://www.example.com/success"
              />
              <input
                type="hidden"
                name="cancel_url"
                value="https://www.example.com/cancel"
              />
              <input
                type="hidden"
                name="notify_url"
                value="https://www.example.com/notify"
              />
              <input type="hidden" name="item_name" value="<%= order.id %>" />
              <input class="paynow-button" type="submit" value="Pay Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer') %>
  </body>
  <script src="../js/part.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const accordionButton = document.getElementById("shippingAccordion");
      const shippingInfoPanel = document.querySelector(".add-form");

      // Initially hide the shipping info panel
      shippingInfoPanel.style.display = "none";

      // Toggle shipping info visibility when the accordion button is clicked
      accordionButton.addEventListener("click", function () {
        if (shippingInfoPanel.style.display === "none") {
          shippingInfoPanel.style.display = "block";
        } else {
          shippingInfoPanel.style.display = "none";
        }
      });
    });
    // const paymentRadioButtons = document.querySelectorAll(
    //   'input[name="paymentMethod"]'
    // );
    // const paymentOptions = document.querySelectorAll(".payment-option");

    // // Payment link element
    // const paymentLink = document.getElementById("paymentLink");

    // paymentOptions.forEach((option) => {
    //   option.addEventListener("click", function () {
    //     // Clicking on the payment option div triggers the change event on the corresponding radio button
    //     const radioButton = option.querySelector('input[name="paymentMethod"]');
    //     radioButton.checked = true;
    //     radioButton.dispatchEvent(new Event("change"));
    //   });
    // });

    // paymentRadioButtons.forEach((radioButton) => {
    //   radioButton.addEventListener("change", function () {
    //     // This function will be called when the user selects a different payment option
    //     const selectedPaymentMethod = document.querySelector(
    //       'input[name="paymentMethod"]:checked'
    //     ).value;

    //     // Update payment link based on the selected payment method
    //     updatePaymentLink(selectedPaymentMethod);
    //   });
    // });

    // function updatePaymentLink(selectedPaymentMethod) {
    //   // Logic to generate the payment link based on the selected payment method
    //   let paymentUrl;

    //   switch (selectedPaymentMethod) {
    //     case "creditCard":
    //       paymentUrl = "https://example.com/pay-with-credit-card";
    //       break;
    //     case "paypal":
    //       paymentUrl = "https://example.com/pay-with-paypal";
    //       break;
    //     case "Owoz":
    //       paymentUrl = "https://example.com/pay-with-Owoz";
    //       break;
    //     case "payFast":
    //       paymentUrl = "https://example.com/pay-with-payfast";
    //       break;
    //     default:
    //       paymentUrl = "#";
    //   }

    //   // Update the href attribute of the payment link
    //   paymentLink.href = paymentUrl;

    //   // Display the payment link
    //   paymentLink.style.display = "block";
    // }
  </script>
</html>
