<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <div class="wrap">
      <%- include('./partials/nav') %>

      <div class="hero-sec">
        <div class="hero-wrap">
          <img src="../images/everdrop.jpg" alt="" />
          <div class="sub-sec">
            <h1>Clean your environment, get the best sensation</h1>
            <p>
              A clean and fresh appearance that is inviting to customers as your
              building is cleaned by skilled and experienced personnel who pay
              attention to detail.
            </p>
            <a href="/contact">
              <button>Book now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="wwo-sec">
        <div class="intro-wwo">
          <h1>What we offer?</h1>
          <p>
            We clean for all sizes of business, small, medium, large, private
            owned and government.
          </p>
        </div>
        <div class="brief-wwo">
          <div class="brief-component">
            <img class="icon" src="../images/bed.png" alt="A bed" />
            <h3 class="subheading">Residential Cleaning</h3>
            <p>
              Our company caters cleaning for all types of residential property,
              flats, townhouses, semi-detached houses, duet houses, holiday
              apartments, shops or office blocks.
            </p>
            <a href="/services">view More</a>
          </div>
          <div class="brief-component">
            <img class="icon" src="../images/handshake.png" alt="Hand shake" />
            <h3 class="subheading">Commercial</h3>
            <p>
              Commercial cleaning services is provisional to the corparate
              buildings. Corparate buildings which we work on are corparate
              offices, airports, hotels, shopping malls, hospitals, doctor's
              rooms, banks, educational institutions and warehouses.
            </p>
            <a href="/services">View More</a>
          </div>
          <div class="brief-component">
            <img class="icon" src="../images/star.png" alt="Half Filled Star" />
            <h3 class="subheading">Construction</h3>
            <p>
              Construction cleaning helps with the outcome of your building
              after it has been built. We clean the interior which will reduce
              the amount of work left after the whole construction.
            </p>
            <a href="/services">View more</a>
          </div>
          <div class="brief-component">
            <img class="icon" src="../images/home.png" alt="Half Filled Star" />
            <h3 class="subheading">Rental Property</h3>
            <p>
              We provide rental properties with an affordable price listing.
            </p>
            <a href="/services">View more</a>
          </div>
        </div>
      </div>
      <div class="about-sec">
        <div class="about-subsec1">
          <h2>About us</h2>
          <p>
            Green Bear is a 100% black owned business. We've customize our
            services to meet your unique needs, residential and commercial
            cleaning that you may have. You can hire us with confidence that we
            will be able to meet all your commercial buliding and office
            cleaning services professionally, affordable and efficiently.
          </p>
          <button>Read more</button>
        </div>
        <div class="about-subsec2">
          <img
            src="../images/glass-cleaning.jpg"
            alt="Cleaning Windows"
            class="about-img"
          />
        </div>
      </div>
      <div class="product-sec">
        <div class="cta-store">
          <h2 class="store-subtitle">New Collection</h2>
        </div>

        <div class="products-wrap">
          <% newProducts.forEach(product => { %>
          <a class="product-link" href="/product/<%= product._id %>">
              <div class="product">
                <img
                  class="product-img"
                  src="<%= product.image %>"
                  alt="<%= product.title %>"
                />
                <h3 class="products-name"><%= product.title %></h3>
                <p class="product-description"><%= product.description %></p>
                <p class="products-amount">R<%= product.price %></p>
                <% if (user && user.role === 'admin') { %>
                <div class="delete-product">
                  <button
                    onclick="event.stopPropagation(); removeProduct('<%= product._id %>')"
                  >
                    Delete
                  </button>
                </div>
                <% } %>
              </div>
            </a>
          <% }) %>
        </div>

        <div class="cta-link">
          <button class="more-pro">
            <a href="/products">More products</a>
          </button>
        </div>
      </div>
      <div class="wou">
        <div class="wou-img">
          <img src="../images/scrub.jpg" alt="" />
        </div>
        <div class="wou-info">
          <h1>Why Choose us</h1>
          <div class="symbols">
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
          <div class="cont">
            <h3>Prioritize our Customers</h3>
            <h3>Connected with our Clients</h3>
            <h3>Provide the best services</h3>
          </div>
        </div>
      </div>

      <%- include('./partials/footer') %>
    </div>
  </body>
  <script src="../js/part.js"></script>
</html>
